header {
  height: 52px;
  margin: 0, auto;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
  z-index: 2;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.anchors {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.anchors a {
  color: #394149;
}

.header_button {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 106.5%;
  color: #f58a07;
  border-radius: 31px;
  background-color: rgba(245, 138, 7, 0.1);
  border: none;
  width: 173px;
  height: 52px;
}
header img {
  color: #063255;
  height: 28px;
  width: 122px;
  left: 320px;
  top: 28px;
  border-radius: 0px;
}
