.card {
  display: flex;
  margin-bottom: 128px;
  gap: 77.5px;
  position: relative;
  align-items: center;
}
.card h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #0d1317;
}
.card p {
  color: #5b5b5b;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.orange {
  width: 95px;
  height: 97px;
  background: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 20px;
  position: absolute;
  top: 128px;
  left: -47.5px;
}
.orange_r {
  width: 95px;
  height: 97px;
  background: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 20px;
  position: absolute;
  top: 128px;
  right: -47.5px;
}
.cards {
  margin-top: 176px;
}
.card button {
  border: none;
  background-color: #f58a07;
  width: 171px;
  height: 54px;
  border-radius: 27px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.card:first-child div:first-child {
  width: 45%;
}
.card_image {
  width: 616px !important;
  height: 650px;
  position: relative;
}
.card_image img {
  width: 100%;
  height: 100%;
}
.card_image div {
  height: 100%;
  width: 180px;
  z-index: 1;
  background-color: orange;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 0px 20px;
}
